* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    height:100%;
    margin:0;
    }

body {
    min-height: 100vh;
    max-width: 100%;
    background-image: url('./assets/background.png');
    }

#root {
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 1.5em;
    font-weight: 900;
    }

h3 {
    font-size: 2.2em;
    font-weight: 700;
    }

.navy {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    flex-direction: column;
    .nav-title {
        align-self: center;
        height: 1.3em;
        }
    .options {
        align-self: flex-start;
        padding: 0;
        margin: 0;
        .navbar-nav {
            margin-right: 1.5em;
            }
        }
    }

.nav-link {
    font-size: 1.2em;
    }

.media_genres {
    display: flex;
    height: 100vh;
    padding: 1rem;
    margin: 0.5rem 0.7rem;
    flex-direction: column;
    }

.media_list_by_gen{
    display: flex;
    height: 100vh;
    padding: 1rem;
    margin: 0.5rem 0.7rem;
    flex-direction: column;
    }

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    margin-bottom: 1em;
    .card_gen {
        cursor: pointer;
        height: 23em;
        text-align: center;
        Background-color: transparent;
        transition: .3s ease all;
        .card-img-top {
            border-radius: 0.5em;
            border: 1px solid #5e5e5e;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 3);
            }
        }
    .card_gen:hover{
        transform: scale(1.2);
        transform-origin: center;
    }

    }

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    }

.link-genre-list {
    font-family: Arial, Helvetica, sans-serif;
    color: #1b1a1a;
    text-decoration: none;
    }

.carrousel-container {
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;

    .movie {
        display: flex;
        flex-wrap: nowrap;
        .card-movie {
            transition: .3s ease all;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 3);
            vertical-align: top;
            width: 16.5em;
            height: 20em;
            }
        .card-movie:hover {
            transform: scale(1.2);
            transform-origin: center;
            }
        }
    }

.movie-list-gen{
    margin-bottom: 70px;
    .carrousel-section-list {
        display: flex;
        align-items: center;
        position: relative;
        .left-indicator, .right-indicator {
            position: absolute;
            border: none;
            background: rgba(0, 0, 0, .1);
            font-size: 40px;
            height: 50%;
            top: calc(50% - 25%);
            line-height: 40px;
            width: 50px;
            color: #fff;
            cursor: pointer;
            z-index: 500;
            transition: .2s ease all;
            }
        .left-indicator {
            left: 0;
            }
        .right-indicator {
            right: 0;
            }
        .left-indicator:hover, .right-indicator:hover {
            background: rgba(0, 0, 0, .6);
            }
        }
    }

    .elements-container {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        flex-wrap: wrap;
        width: 100%;
        .poster-main {
            width: 70%;
            flex: 0 0 70%;
            height: auto;
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
        }
        .elements-main-movie {
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            background-color: #1b1a1a;
            flex: 1;
            display: flex;
            flex-direction: column; 
            align-items: center;
            padding: 2em;
            .desc-movie {
                color: white;
                font-size: 1.1em;
                width: 100%;
                position: relative;
            }
            .title-movie{
                font-size: 1.9em;
                color: rgb(155, 153, 153);
                font-weight: 900;
            }
            .duration-bar{
                color: white;
            }
            .play-icon{
                font-size: 5rem;
                color: #5e5e5e;
            }
        }
    }